/* CSS personalizado para largura total */
.select2-container {
    width: 100% !important;
}

.select2-group .select2-container {
    flex-grow: 1 !important; /* Ajustar para flex-grow para ocupar o espaço disponível */
}

/* CSS personalizado para aparência semelhante a form-control */
.select2-container .select2-selection--single {
    min-height: 39px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 32px;
}

/* Remover o border-radius do lado direito do select */
.no-right-radius {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

/* Remover o border-radius do lado esquerdo do botão */
.no-left-radius {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.bootstrap-tagsinput {
    min-height: 39px;
}

.kanban-container {
    overflow-x: auto; /* Permite rolagem horizontal dentro do container */
    padding: 10px;
}

.kanban-board {
    display: flex;
    gap: 10px;
    /*min-width: 1200px; /* Define uma largura mínima para garantir a rolagem */
}

.kanban-column {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    min-width: 200px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    white-space: normal; /* Permite quebra de linha dentro das colunas */
    padding: 0;
}

.kanban-column-header {
    background-color: #f4f4f4;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.kanban-column-content {
    flex: 1;
    padding: 10px;
    max-height: 350px;
    overflow-y: auto;
}

.kanban-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    cursor: grab;
}

.kanban-card.dragging {
    opacity: 0.5;
}

.card-atendimento {
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto
}

.card.active {
    border: 2px solid #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.dashboard-card {
    background-color: #d3edea;
}