<nav class="navbar navbar-light bg-transparent mb-3">
    <div class="container-fluid">
        <a class="navbar-brand">Atendimentos</a>

        <div class="buttons">
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                Ações
            </button>
            <button id="btnShowActions" class="btn btn-primary" type="button" onclick="objAtendimento.showActions()" title="Expandir detalhes">
                <i id="icoShowActions" class="ti ti-layout-sidebar-right-expand" style="font-size: larger;"></i>
            </button>
        </div>



        <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#atendimentotModal">
            Novo Atendimento
        </button> -->
    </div>
</nav>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Ações do atendimento</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div id="detalhesCliente" class="offcanvas-body">

    </div>
    <div class="offcanvas-footer p-3" style="text-align: end;">
        <button type="button" id="encerrar" class="btn btn-danger" onclick="objAtendimento.encerrar()">Encerrar</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="tooltip"
            data-bs-title="Clique aqui para salvar" onclick="objAtendimento.save()">Salvar</button>
    </div>
</div>

<!-- Lista de atendimentos -->
 <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="card w-100">
            <div class="card-body card-atendimento p-0">
                <div id="listAtendimento"></div>
            </div>
            <div class="card-footer">
                <div class="input-group mb-0">
                    <input type="text" class="form-control" id="search" placeholder="Pesquisar"
                        aria-label="Pesquisar cliente" aria-describedby="button-addon2">
                    <button class="btn btn-success" type="button" id="button-addon2" onclick="">
                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-search"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div id="chatAtendimentoConversa" class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
        <div class="card w-100">
            <div class="card-body card-atendimento" style="overflow-y: unset !important;">
                <div id="chatAtendimento" style="max-height: 350px; min-height: 350px; overflow-y: auto;"></div>
            </div>
            <div class="card-footer">
                <div class="input-group mb-0">
                    <input type="text" class="form-control" id="message" placeholder="Digite a mensagem"
                        aria-label="Digite a mensagem" aria-describedby="button-addon2">
                    <button class="btn btn-success" type="button" id="button-addon2" onclick="objAtendimento.sendMessage()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-send-2">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M4.698 4.034l16.302 7.966l-16.302 7.966a.503 .503 0 0 1 -.546 -.124a.555 .555 0 0 1 -.12 -.568l2.468 -7.274l-2.468 -7.274a.555 .555 0 0 1 .12 -.568a.503 .503 0 0 1 .546 -.124z" />
                            <path d="M6.5 12h14.5" />
                        </svg>
                    </button>
                </div>
            </div>

        </div>
    </div>
    <div id="chatAtendimentoAcoes" class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4" style="display: none;">




    </div>
 </div>


<!-- Modal -->
<div class="modal fade " id="atendimentotModal" tabindex="-1" aria-labelledby="atendimentotModalLabel"
    aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" data-bs-focus="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">


        </div>
    </div>
</div>

<script id="listAtendimentoTemplate" type="text/x-handlebars-template">
    {{#if data}}
        {{#each data}}
            <div class="card mb-2" id="atendimento-{{@key}}" onclick="objAtendimento.destacar('{{this.id}}', '{{this.clientId}}', '{{this.telefone}}',this)" style="cursor: pointer;">
                <div class="d-flex justify-content-between p-2">
                    <div class="card-title">{{#if this.cliente}}{{this.cliente}}{{else}}{{this.telefone}}{{/if}}</div>
                    <span class="fs-2">{{this.data}}</span>
                </div>
                <div class="card-body py-0 px-2">
                    <span class="badge text-bg-primary me-2 mb-2" title="Chatbot" style="font-size: x-small;">
                        <i class="ti ti-message-chatbot"></i>
                        {{this.chatbot}}
                    </span>
                    <span class="badge text-bg-success me-2 mb-2" title="Atribuído  ao funcionário " style="font-size: x-small;">
                        <i class="ti ti-user"></i>
                        {{#if this.funcionario}}{{this.funcionario}}{{else}} Não atribuído{{/if}}
                    </span>
                    <span class="badge text-bg-warning me-2 mb-2" style="font-size: x-small;">{{this.status}}</span>
                    {{#if this.unread}}
                        <div class="justify-content-end" style="position: relative; display: contents;">
                            <span class="badge rounded-pill bg-danger fs-2" style="float: inline-end;">
                                {{this.unread}}
                                <span class="visually-hidden">unread messages</span>
                            </span>
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/each}}
        <p class="text-center">
            <a href="#" onclick="objAtendimento.list(objAtendimento.intPage + 1)">Ver mais</a>
        </p>
    {{/if}}
    {{#unless data}}
    <div class="row">
        <div class="col-12">
                <p class="text-danger text-center">Nenhum dado encontrado</p>
            </div>
        </div>
    {{/unless}}
</script>

<script id="chatAtendimentoTemplate" type="text/x-handlebars-template">
    {{#each chat}}
        {{#if this.fromMe}}
            <div class="d-flex flex-row justify-content-end mb-4">
                <div class="p-3 me-3 border"
                    style="border-radius: 15px; background-color: #fbfbfb;">
                    <p class="small mb-0">{{this.message}}</p>
                    <p class="text-end mb-0" style="font-size: xx-small;">{{this.data}}</p>
                </div>

                <img class="photo-fromMe"
                    alt="avatar 1"
                    style="width: 45px; height: 100%; border-radius: 100%; margin-left: 10px;">
            </div>
        {{else}}
            <div class="d-flex flex-row justify-content-start mb-4">
                <img class="photo-client" src=""
                    alt="avatar 1"
                    style="width: 45px; height: 100%; border-radius: 100%">
                <div class="p-3 ms-3"
                    style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                    <p class="small mb-0">{{this.message}}</p>
                    <p class="text-end mb-0" style="font-size: xx-small;">{{this.data}}</p>
                </div>
            </div>
        {{/if}}
    {{/each}}
    {{#unless chat}}
        <h4 class="text-danger text-center" style="margin-top: 125px;">Nenhuma mensagem encontrada</h4>
    {{/unless}}
</script>

<script id="detalhesClienteTemplate" type="text/x-handlebars-template">

    <div class="card-body">
        <form id="formAtendimento">
            <input type="hidden" name="telefone" id="telefone" style="display: none;">
            <input type="hidden" name="id" id="id" style="display: none;">
            <input type="hidden" name="clientId" id="clientId" style="display: none;">
            <input type="hidden" name="originalTags" id="originalTags" style="display: none;">
            <div class="row">
                <div class="col-12 mb-2">
                    <label for="funcionarios" class="form-label">Transferir para...</label>
                    <select class="atendimento-select2 form-control" id="funcionarios" name="funcionarios">
                        <option value="">Selecione...</option>
                    </select>
                </div>
                <div class="col-12 mb-2">
                    <label for="evento" class="form-label">Evento</label>
                    <select class="atendimento-select2 form-control" name="evento" id="evento">
                        <option value="">Selecione...</option>
                    </select>
                </div>
                <div class="col-12 mb-2">
                    <div class="form-group">
                        <label class="form-label" for="agendamento">Agendar</label>
                        <div class="input-group date" id="id_0">
                            <input name="agendamento" id="agendamento" type="text" value=""
                                class="form-control" placeholder="MM/DD/YYYY hh:mm:ss"
                                required />
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-2">
                    <label for="tags" class="form-label">Tags</label>
                    <input class="form-control" id="tags" name="tags" type="text" value=""
                        data-role="tagsinput" />
                </div>
                <div class="col-12">
                    <label for="observacao" class="form-label">Observação</label>
                    <textarea name="observacao" id="observacao" class="form-control"></textarea>
                </div>
            </div>
        </form>
    </div>

</script>

<script id="chatAtendimentoAcoesTemplate" type="text/x-handlebars-template">
    <div class="card ">
        <div class="card-atendimento">
            <div class="card-body">
                <div class="text-center">
                    <img src="" class="photo-client" alt="..." style="width: 100px; height: 100%; border-radius: 100%"> <br>
                    <span class="fs-5">
                        <b>{{this.nome}}</b>
                    </span> <br>
                    {{this.telefone}}
                </div>
            </div>
    
            <div class="card-body">
                <div class="card-title">Status</div>
                <p>{{this.status}}</p>
            </div>
    
            <div class="card-body">
                <div class="card-title">
                    Email
                </div>
                <p>{{this.email}}</p>
            </div>
    
            <div class="card-body">
                <div class="card-title">
                    Empresa
                </div>
                <p>{{this.empresa}}</p>
            </div>
    
            <div class="card-body">
                <div class="card-title">
                    Cargo
                </div>
                <p>{{this.cargo}}</p>
            </div>

            <div class="card-body">
                <div class="card-title">
                    Observações
                </div>
                <p>{{this.obs}}</p>
            </div>

        </div>
        <div class="card-footer">
            <div class="text-center"><div class="card-title">Informações do cliente</div></div>
        </div>
    </div>
</script>

<!-- Seus scripts personalizados -->
<script src="../../resources/js/atendimento.js"></script>


<script src="../../resources/libs/calendar/js/popper.js"></script>
<script src="../../resources/libs/calendar/js/bootstrap.min.js"></script>
<script src="../../resources/libs/calendar/js/moment-with-locales.min.js"></script>
<script src="../../resources/libs/calendar/js/bootstrap-datetimepicker.min.js"></script>
<script src="../../resources/libs/calendar/js/main.js"></script>

<script>
var objAtendimento = new Atendimento();
</script>