<nav class="navbar navbar-light bg-transparent mb-3">
    <div class="container-fluid">
        <a class="navbar-brand">ChatBot</a>
        <form class="d-flex">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#chatbotModal">
                Criar
            </button>
        </form>
    </div>
</nav>

<!-- Lista de chatbots -->
<div class="card w-100">
    <div class="card-body p-4">
        <h5 class="card-title fw-semibold mb-4">Lista de chatbots</h5>
        <div class="table-responsive">
            <table class="table text-nowrap mb-0 align-middle">
                <thead class="text-dark fs-4">
                    <tr>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Nome</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Integração</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Data</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Status</h6>
                        </th>
                    </tr>
                </thead>
                <tbody id="listChatBot"></tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade " id="chatbotModal" tabindex="-1" aria-labelledby="chatbotModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false" data-bs-focus="false">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="simple-tab-0" data-bs-toggle="tab" href="#simple-tabpanel-0"
                            role="tab" aria-controls="simple-tabpanel-0" aria-selected="true"
                            onclick="$('.modal-footer').show()">Configuraçao</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="simple-tab-1" data-bs-toggle="tab" href="#simple-tabpanel-1" role="tab"
                            aria-controls="simple-tabpanel-1" aria-selected="false"
                            onclick="$('.modal-footer').hide()">Fluxo de mensagens</a>
                    </li>
                </ul>
                <div class="tab-content pt-3" id="tab-content">
                    <div class="tab-pane active px-3" id="simple-tabpanel-0" role="tabpanel"
                        aria-labelledby="simple-tab-0">

                        <form id="formChatBot" action="">
                            <input type="hidden" id="idChatBot">
                            <div class="row mb-0">
                                <div class="col">
                                    <input class="form-control" id="nome" type="text" placeholder="Nome do chatbot"
                                        aria-label="Nome do chatbot">
                                </div>
                                <div class="col">
                                    <div class="input-group mb-0">
                                        <label class="input-group-text" for="selListIntegrations">Integrações</label>
                                        <select class="form-select" id="selListIntegrations">
                                            <option selected>Escolha...</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="tab-pane px-0" id="simple-tabpanel-1" role="tabpanel" aria-labelledby="simple-tab-1">
                        <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                            <i class="ti ti-menu-2"></i>
                        </button>

                        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
                            aria-labelledby="offcanvasExampleLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Elementos</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">


                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                Elementos Basicos
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show"
                                            data-bs-parent="#accordionExample">
                                            <div class="accordion-body">

                                                <span style="display: inline-block; vertical-align: top;">
                                                    <div id="draggableBasic"></div>
                                                </span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                aria-expanded="false" aria-controls="collapseTwo">
                                                Anexos
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse"
                                            data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <span style="display: inline-block; vertical-align: top;">
                                                    <div id="draggableAnexo"></div>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>


                        <!-- content -->
                        <div style="width:100%; white-space:nowrap;">
                            <span style="width:5%"></span>
                            <span style="display: inline-block; vertical-align: top;">
                                <div id="zoom"
                                    style="position: relative;float: inline-end; padding: 20px;z-index: 999;">
                                    <button id="zoom-in" type="button" class="btn btn-secondary btn-sm">
                                        <i class="ti ti-zoom-in"></i>
                                    </button>
                                    <button id="zoom-out" type="button" class="btn btn-secondary btn-sm">
                                        <i class="ti ti-zoom-out"></i>
                                    </button>
                                </div>
                                <div id="paper" class="mt-1" style="border: solid 1px black;"></div>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" data-bs-toggle="tooltip"
                    data-bs-title="Clique aqui para salvar" onclick="objChatBot.saveChatbot()">Salvar</button>
            </div>
        </div>
    </div>
</div>

<script id="listChatBotTemplate" type="text/x-handlebars-template">
    {{#each data}}
        <tr>
            <td>{{this.nome}}</td>
            <td>{{this.integration_phone}}</td>
            <td>{{this.data}}</td>
            <td>{{this.status}}</td>
            <td class="text-right">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#chatbotModal" type="button" onclick="objChatBot.edit('{{this.id}}')">
                    <i class="ti ti-edit" ></i>
                </button>
                <button class="btn btn-danger" type="button" onclick="objChatBot.delete('{{this.id}}')">
                    <i class="ti ti-trash"></i>
                </button>
            </td>
        </tr>
    {{/each}}
    {{#unless data}}
        <tr>
            <td colspan="4">
                <p class="text-danger text-center">Nenhum dado encontrado</p>
            </td>
        </tr>
    {{/unless}}
</script>


<!-- dependencies -->
<link rel="stylesheet" href="../../resources/css/chatbot.scss">

<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script src="../../resources/js/handlebarsHelpers.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@joint/core@4.0.1/dist/joint.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dagre@0.8.5/dist/dagre.min.js"></script>

<script src="../../resources/js/chatbot.js"></script>

<!-- code -->
<script>
    var objChatBot = new ChatBot();
</script>