<nav class="navbar navbar-light bg-transparent mb-3">
    <div class="container-fluid">
        <a class="navbar-brand">Funil</a>
        <form class="d-flex">
            <button type="button" class="btn btn-primary">
                Nova etapa
            </button>
        </form>
    </div>
</nav>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script src="../../resources/js/crm.js"></script>
<script>
    var objCrm = new Crm();
</script>