<nav class="navbar navbar-light bg-transparent mb-3">
    <div class="container-fluid">
        <a class="navbar-brand">Integrações</a>
        <form class="d-flex">
            <button type="button" id="NovaConexao" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="objIntegracao.genereteQrCode()" style="display: none;">
                Conectar
            </button>
        </form>
    </div>
</nav>

<!-- Lista de integrações -->
<div class="card w-100">
    <div class="card-body p-4">
        <h5 class="card-title fw-semibold mb-4">Lista de integrações</h5>
        <div class="table-responsive">
            <table class="table text-nowrap mb-0 align-middle">
                <thead class="text-dark fs-4">
                    <tr>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Telefone</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Dispositivo</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Status</h6>
                        </th>

                    </tr>
                </thead>
                <tbody id="listIntegracao"></tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nova integração</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row" id="gerandoQrCode">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-7 col-xl-7">
                        <h3 class="text-center">Conecte o dispositvo</h3>
                        <p>Abra o whatsapp e clique em <b>Dispositivos Conectados</b>, clique em conectar um dispositivo
                            e <b>aponte a câmera para o qr code</b>.
                        </p>
                        <p>
                            <b>Depois de conectar</b> clique em conectei e aguarde alguns instantes.
                        </p>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 p-0 me-0">
                        <img src="" id="qrCodeImg" alt="" style="width: -webkit-fill-available;">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-success" id="btnGerarQrCode" data-bs-toggle="tooltip"
                    data-bs-title="Clique aqui para gerar o qr code de conexão" onclick="objIntegracao.save()">Conectei</button>
            </div>
        </div>
    </div>
</div>

<script id="listIntegracaoTemplate" type="text/x-handlebars-template">
    {{#each data}}
        <tr>
            <td>{{this.phone}}</td>
            <td>{{this.originalDevice}}</td>
            <td>{{this.status}}</td>
            <td>
                <button class="btn btn-danger" type="button" onclick="objIntegracao.delete('{{this.id}}')">
                    <i class="ti ti-trash"></i>
                </button>
            </td>
        </tr>
    {{/each}}
    {{#unless data}}
        <tr>
            <td colspan="4">
                <p class="text-danger text-center">Nenhum dado encontrado</p>
            </td>
        </tr>
    {{/unless}}
</script>

<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>


<script src="../../resources/js/integracao.js"></script>


<script>

    var objIntegracao = new Integracao();

</script>