<section style="background: linear-gradient(to bottom, #67D7FF, #67D7FF calc(100% - 65px), #FDFDFD);
">
	<div class="container col-12 px-4 pt-4">
		<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
			<div class="col-12 col-sm-8 col-md-8 col-lg-6 col-xl-6">
				<img src="../../../resources/images/banner1.jfif" class="d-block mx-lg-auto img-fluid mb-3" alt="Replicate machine"
					width="700" height="500" loading="lazy">
			</div>
			<div class="col-12 col-sm-4 col-md-4 col-lg-6 col-xl-6">
				<h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
					Ganhe Tempo com a GestaoFacil: Clone, Avalie e utilize!
				</h1>
				<p class="lead">Descubra o poder do Replichoice - a ferramenta definitiva para quem valoriza cada
					segundo.
					Com nossa tecnologia avançada, clonar sites tornou-se uma tarefa instantânea. Imagine: em um piscar
					de
					olhos, você replica, avalia e compra. Clone com facilidade, avalie com confiança, e conquiste o
					futuro
					digital agora mesmo!</p>
				<div class="d-grid gap-2 mb-3">
					<a href="#cloneForm">
						<button class="btn btn-primary" type="button">Clonar agora</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section style="background: linear-gradient(to bottom, #FDFDFD, #FDFDFD calc(100% - 65px), #b2e2d6);
">
	<div class="container col-12 px-4 pt-4">
		<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
			<div class="col-lg-6">
				<h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
					Segurança em Primeiro Lugar: Proteja Seus Dados Online
				</h1>
				<p class="mb-3 lead">A segurança é nossa prioridade. Replichoice garante a proteção dos seus dados durante
					todo o processo de clonagem. Tenha tranquilidade ao replicar sites e mantenha a integridade das suas
					informações.</p>
			</div>
			<div class="col-10 col-sm-8 col-lg-6">
				<img src="../../../resources/images/banner3.jfif" class="d-block mx-lg-auto img-fluid mb-3" alt="Replicate machine"
					width="700" height="500" loading="lazy">
			</div>
		</div>
	</div>
</section>
<section style="background: linear-gradient(to bottom, #b2e2d6, #b2e2d6 calc(100% - 60px), #6dbef3);
">
	<div class="container col-12 px-4 pt-4">
		<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
			<div class="col-10 col-sm-8 col-lg-6">
				<img src="../../../resources/images/banner4.jfif" class="d-block mx-lg-auto img-fluid mb-3" alt="Replicate machine"
					width="700" height="500" loading="lazy">
			</div>
			<div class="col-lg-6">
				<h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
					Personalização Descomplicada
				</h1>
				<p class="lead">Personalização nunca foi tão fácil. Com Replichoice, você tem o controle total sobre o
					design e a funcionalidade dos seus sites clonados. Deixe a web do seu jeito, sem complicações.
					Desperte a criatividade e liberdade digital com Replichoice.</p>
			</div>
		</div>
	</div>
</section>
<section style="background-color: #6DBEF3;">
	<div class="container col-12 px-4 pt-4">
		<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
			<div class="col-lg-6">
				<h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
					Economize Esforço, Aumente a Eficiência
				</h1>
				<p class="lead">Com Replichoice, você não só economiza tempo, mas também reduz o esforço necessário para
					clonar e gerenciar seus sites. Simplificamos o processo, permitindo que você foque no que realmente
					importa: o crescimento do seu projeto online.</p>
			</div>
			<div class="col-10 col-sm-8 col-lg-6">
				<img src="../../../resources/images/banner2.jfif" class="d-block mx-lg-auto img-fluid" alt="Replicate machine" width="700"
					height="500" loading="lazy">
			</div>
		</div>
	</div>
</section>
<!-- <section>
	<div class="container col-12 px-4 pt-4 text-center">
		<div class="row flex-lg-row-reverse align-items-center g-4 py-4">
			<div class="col-12 mb-0">
				<h3>Nossos clientes dizem</h3>
			</div>
			<div class="col-4">
				<div class="card">
					<img src="../../../resources/images/isabela.jpg"  class="card-img-top" style="max-height: 270px;" alt="...">
					<div class="card-body">
						<h5 class="card-title">Isabela Silva</h5>
						<p class="card-text">"Replichoice superou minhas expectativas! Clonar um site nunca foi tão
							fácil. A eficiência a rapidez e a precisão nos detalhes me impressionaram. Agora posso
							dedicar mais tempo ao crescimento do meu negócio. Fácil, rápido e o custo benefício é ótimo.
							Recomendo a todos!"</p>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card">
					<img src="../../../resources/images/lucas.jpg"  class="card-img-top" style="max-height: 270px;" alt="...">
					<div class="card-body">
						<h5 class="card-title">Lucas Oliveira</h5>
						<p class="card-text">"Como desenvolvedor, encontrar Replichoice foi um divisor de águas. A
							facilidade de replicar e personalizar sites é incrível. Economizei horas de trabalho e
							entreguei projetos de alta qualidade mais rapidamente. Uma ferramenta indispensável para
							qualquer profissional."</p>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card">
					<img src="../../../resources/images/camila.jpg"  class="card-img-top" style="max-height: 270px;" alt="...">
					<div class="card-body">
						<h5 class="card-title">Camila Santos</h5>
						<p class="card-text">"Replichoice trouxe segurança e praticidade para minha experiência online.
							A proteção dos dados durante o processo de clonagem me deu confiança para usar a plataforma
							regularmente. Personalizar meus sites nunca foi tão simples. Estou encantada com os
							resultados!"</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->
<section id="cloneForm">
	<div class="container col-12 px-4 py-5">
		<div class="row align-items-center g-lg-5 py-5">
			<div class="col-lg-7 text-center text-lg-start">
				<h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Seu site na palma da sua mão</h1>
				<p class="col-lg-10 fs-4">Estamos ansiosos para dar vida ao seu projeto digital! Compartilhe conosco a
					URL que deseja replicar, seu nome e email, e vamos transformar suas ideias em realidade. Sua jornada
					online começa aqui. Preencha os campos abaixo e deixe Replichoice criar o caminho para o seu sucesso
					digital.</p>
			</div>
			<div class="col-md-10 mx-auto col-lg-5">
				<form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method="post" action="/import">
					<div class="form-floating mb-3">
						<input type="url" class="form-control" id="url" name="url" placeholder="https://seusite.com">
						<label for="floatingInput">Url do site</label>
					</div>
					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="name" name="name" placeholder="Seu nome">
						<label for="floatingInput">Nome</label>
					</div>
					<div class="form-floating mb-3">
						<input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
						<label for="floatingInput">Email</label>
					</div>
					<div class="form-floating mb-3">
						<input type="tel" class="form-control" id="phone" name="phone" placeholder="(99) 99999-9999">
						<label for="floatingInput">Telefone</label>
					</div>
					<button class="w-100 btn btn-lg btn-primary" type="button" onclick="clonePage.import()">Clonar</button>
					<hr class="my-4">
					<small class="text-body-secondary">Clicando em clonar você concorda com os <a href="#"
							target="_blank">termos de uso</a>.</small>
				</form>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
			<div class="col-md-4 d-flex align-items-center">
				<a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
					<svg class="bi" width="30" height="24">
						<use xlink:href="#bootstrap"></use>
					</svg>
				</a>
				<span class="mb-3 mb-md-0 text-body-secondary">© 2024 GestaoFacil</span>
			</div>

			<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
				<li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24">
							<use xlink:href="#twitter"></use>
						</svg></a></li>
				<li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24">
							<use xlink:href="#instagram"></use>
						</svg></a></li>
				<li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24">
							<use xlink:href="#facebook"></use>
						</svg></a></li>
			</ul>
		</footer>
	</div>
</section>